h1 {
    color: blue;
    text-align: left;
}
h2 {
    color: green;
    text-align: left;
}
h3 {
    color: yellowgreen;
    text-align: left;
}
h4 {
    color: red;
    text-align: left;
}
h5 {
    color: deeppink;
    text-align: left;
}
h6 {
    color: orangered;
    text-align: left;
}